# ---------------------------------------------------------
# App
# ---------------------------------------------------------
PORT=8081
APP_ENV=development

# ---------------------------------------------------------
# Redis
# ---------------------------------------------------------
REDIS_URL=redis://redis:6379

# ---------------------------------------------------------
# MongoDB
# ---------------------------------------------------------
MONGODB_URI=mongodb://mongo:27017
MONGODB_DB=yappr

# ---------------------------------------------------------
# GitHub App
# ---------------------------------------------------------
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
# (for mac) base64 -i ./keys/github-key.pem
GITHUB_APP_PRIVATE_KEY=base64 encoded key
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_NAME=
GITHUB_OAUTH_CALLBACK_URL=http://localhost:8080/api/v1/auth/github/callback

# ---------------------------------------------------------
# LLM Provider Configuration
# ---------------------------------------------------------
OPENAI_API_KEY=
OPENAI_BASE_URL=https://bedrock-mantle.ap-south-1.api.aws/v1
OPENAI_BASE_MODEL=openai.gpt-oss-20b
