# API
PORT=8080
APP_ENV=development
ALLOWED_ORIGINS=http://localhost:5173

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=

# GITHUB APP
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY_PATH=
GITHUB_WEBHOOK_SECRET=
GITHUB_APP_NAME=

# MongoDB
MONGODB_URI=mongodb://mongo:27017
MONGODB_DB=yappr
